:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --white-color: #fff;
  --logo-color: #4d5ae5;
  --second-img-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --link-color: #434455;
  --background-light-color: #e5e5e5;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-window-close {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: black;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-close:hover {
  fill: var(--white-color);
  background-color: var(--logo-color);
}
.modal-window-close:focus {
  fill: var(--white-color);
  background-color: var(--logo-color);
}
.modal-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 14px;
}
.modal-input {
  width: 360px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 38px;
}
.modal-input:hover,
.modal-input:focus {
  border: 1px solid rgba(77, 90, 229, 1);
}
.modal-input:focus {
  fill: rgba(77, 90, 229, 1);
}
.modal-label {
  display: block;
  position: relative;
  font-size: 12px;
  margin-bottom: 8px;
}
.modal-label:hover {
  fill: rgba(77, 90, 229, 1);
}
.modal-label:focus {
  fill: rgba(77, 90, 229, 1);
}
.form-icon {
  position: absolute;
  left: 14px;
  top: calc(50% + 4px);
  transform: translateY(-50%);
}

.textarea {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: left;
  resize: none;
  width: 360px;
  height: 120px;
  display: block;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
}
.chebox-div {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 24px;
}
.modal-checbox {
}
.checbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}
.chebox-div:checked + .modal-label .check-icon {
  opacity: 1;
}
.checkbox-icon-wrap {
  position: relative;
  min-width: 16px;
  height: 16px;
  display: inline-block;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}
.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.privacy-link {
}
.modal-form-button {
  font-family: Roboto sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  width: 169px;
  height: 56px;
  background-color: rgba(77, 90, 229, 1);
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal-form-button:hover {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.modal-form-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
}
.link {
  text-decoration: none;
}
.link:focus {
  color: var(--logo-color);
}
.portfolio-button:focus {
  color: var(--logo-color);
}
.list {
  list-style: none;
}
.header {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header li:not(:last-child) {
  margin-right: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-right: 77px;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-dark {
  color: var(--primary-text-color);
}
.nav {
  margin-right: 331px;
}
.nav-list {
  display: flex;
}
.list {
  padding: 0;
  margin: 0;
}
.nav-item {
  position: relative;
}
.nav-item :hover,
.nav-item :focus {
  color: var(--logo-color);
}
.current-page .nav-link {
  color: var(--logo-color);
}
.current-page::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  padding-bottom: 24px;
  padding-top: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list {
  display: flex;
}
.contact-item {
}
.contact-link {
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--secondary-text-color);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--logo-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 192px;
  padding-bottom: 192px;
}
.hero-title {
  font-weight: 700;
  width: 507px;
  font-size: 56px;
  line-height: calc(60 / 56);
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin: 0 auto 48px;
}
.hero-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--logo-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  display: inline-block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.features {
  color: var(--white-color);
  padding-bottom: 120px;
  padding-top: 120px;
}
.features-title {
  color: var(--primary-text-color);
}

.features-list {
  display: flex;
}
.features-list li:not(:last-child) {
  margin-right: 24px;
}
.features-item {
  color: var(--second-img-color);
  width: 264px;
}
.features-item-icon {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 4px;
  background: #f4f4fd;
}
.features-description {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.todo {
  color: var(--second-img-color);
  padding-bottom: 120px;
}
.todo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 72px;
}
.todo-list {
  display: flex;
  justify-content: space-between;
}
.todo-item {
}
.todo-img {
}
.team {
  background-color: var(--second-img-color);
  padding: 120px 0;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  margin-bottom: 72px;
}
.team-item-content {
  padding: 32px 16px;
  flex-direction: column;
  text-align: center;
}
.team-list {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-item {
  background-color: var(--white-color);
}
.team-img {
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-position {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-list:not(:last-child) {
  margin-right: var(--card-set-gap);
}
.team-soc-item {
  height: 36px;
  width: 36px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}
.team-soc-icon {
  fill: #f4f4fd;
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-section-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: calc((100%-120px) / 6);
  height: 88px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  fill: var(--logo-color);
  border-color: var(--logo-color);
}
.customers-icon {
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-title {
}
.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
.portfolio-item {
}
.portfolio-button {
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  padding: 12px 24px;
  background: var(--second-img-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--second-img-color);
  background-color: var(--logo-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.cards-item {
  border-top: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-item:hover {
  box-shadow: 0px 2px 6px 0px rgba(46, 47, 66, 0.16);
}
.cards-link {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cards-img-container {
  position: relative;
  overflow: hidden;
}
.cards-img-overlay {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  position: absolute;
  height: 100%;
  padding: 40px 32px;
  left: 0;
  transform: translateY(0);
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:hover .cards-img-overlay {
  transform: translateY(-100%);
}
.cards-link:focus .cards-img-overlay {
  transform: translateY(-100%);
}

.cards-img-overlay p {
  color: var(--second-img-color);
}
.cards-item-content {
  padding: 32px 16px;
  border: 0.5px solid #f4f4fd;
}
.cards-img {
  max-height: 300px;
}
.cards-header {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
.cards-text {
  color: var(--link-color);
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}
.footer {
  background-color: var(--primary-text-color);
}
.footer-section {
  display: flex;
  padding: 100px 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.footer-logo {
  margin-right: 120px;
  color: var(--footer-text-color);
}
.footer-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  width: 264px;
  margin-top: 16px;
}
.footer-soc-div {
  display: inline-block;
}
.footer-soc-div .footer-soc-div:not(:last-child) {
  margin-right: 16px;
}
.footer-soc-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-right: 80px;
}
.footer-soc-icon {
  fill: #f4f4fd;
}
.footer-soc-item {
  width: 44px;
  height: 44px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-form {
  display: flex;
}
.footer-modal-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 16px;
}
.footer-input {
  width: 264px;
  height: 40px;
  margin-right: 24px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #fff;
}
.footer-button {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(77, 90, 229, 1);
  border-radius: 4px;
  width: 165px;
  height: 40px;
  border: none;
  padding: 8px 24px;
}
.footer-button-icon {
  fill: rgb(255, 255, 255);
  margin-left: 16px;
}
/*приховуємо заголовки*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
